.single-spot-card-container {
  display: flex;
  flex-direction: column;
  padding: 13px;
  /* border: green 5px solid; */
}

.single-spot-previewImage {
  height: 260px;
  width: 280px;
  border-radius: 10px;
}

.single-spot-address-and-rating{
  display: flex;
}

.single-spot-card-container :hover {
  cursor: pointer;
}
