.single-spot-card-container {
  display: flex;
  flex-direction: column;
  padding: 13px;
}

.single-spot-previewImage {
  height: 260px;
  width: 280px;
  border-radius: 10px;
}

.single-spot-card-price {
  margin-top: 4px;
}

.single-spot-address-and-rating{
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

.single-spot-card-container :hover {
  cursor: pointer;
}
