.single-spot-details-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1135px;
}

.single-spot-name {
    margin-right: auto;
}

.single-spot-header {
    display: flex;
    width: 1130px;
    font-size: 14px;
}

.edit-and-delete-spot-buttons-container {
    margin-left: auto;
    display: flex;
    gap: 20px;
}

.edit-spot-button {
    background: none;
    border: lightgray solid 1px;
    padding: 5px;
    border-radius: 5px;
    color: rgb(24, 23, 23);
    font-size: 13px;
}

.delete-spot-button {
    background: none;
    border: lightgray solid 1px;
    padding: 5px;
    border-radius: 5px;
    color: rgb(24, 23, 23);
    font-size: 13px;
}

.edit-and-delete-spot-buttons-container :hover {
    cursor: pointer;
    box-shadow: 2px 2px 2px rgb(81, 81, 81);
}

.create-review-button-container {
    margin-left: auto;
}

.create-review-button-container :hover {
    cursor: pointer;
    box-shadow: 2px 2px 2px rgb(81, 81, 81);
}

.create-review-button {
    background: none;
    border: lightgray solid 1px;
    padding: 5px;
    border-radius: 5px;
    color: rgb(24, 23, 23);
    font-size: 13px;
}

.single-spot-description {
    margin-right: auto;
}

.single-spot-owner-and-price {
    display: flex;
    justify-content: space-between;
}

.single-spot-reviews-header {
    display: flex;
    align-items: center;
}
