.create-spot-form {
    display: flex;
    flex-direction: column;
    width: 430px;
    padding: 25px;
}

.create-spot-form-errors {
    font-size: 15px;
    margin-top: 15px;
    color: #ff385c;
}

.create-spot-inputs {
    height: 45px;
}

.create-spot-submit-button-container {
    padding-top: 19px;
}

.create-spot-submit-button {
    cursor: pointer;
    background-color: #ff385c;
    color: white;
    border-radius: 8px;
    width: 430px;
    height: 45px;
    margin-bottom: 5px;
}

.create-spot-submit-button-disabled {
    cursor: not-allowed;
    background-color: lightgrey;
    color: grey;
    border-radius: 8px;
    width: 430px;
    height: 45px;
    margin-bottom: 5px;
}
