.hidden {
    display: none;
}

.navigation-bar {
    display: flex;
    border-bottom: 1px solid #eeeeee;
    width: 100%;
    height: 80px;
    align-items: center;
    justify-content: space-between;
}

.nav-bar-buttons {
    display: flex;
    align-items: center;
    right: 0;
    gap: 20px;
}

.nav-bar-session-buttons {
    display: flex;
}

.nav-bar-create-spot-button :hover {
    cursor: pointer;
}

.nav-bar-session-buttons :hover {
    cursor: pointer;
}
