li {
   list-style-type: none;
}

.hidden {
    display: none;
}

.hiddenContainer {
    border: lightgray solid 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    border-radius: 7px;
    padding: 11px;
    position: absolute;
    gap: 10px;
    margin-top: 13px;
}

.navigation-bar {
    border-bottom: 1px solid #e4e4e4;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.home-page-logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    margin-left: 14px;
}

.home-logo {
    height: 45px;
    width: 45px;
}

.home-logo-name {
    color: #ff385c;
}

.nav-bar-buttons {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.nav-bar-user-container {
    cursor: pointer;
    border: lightgrey solid 1px;
    display: flex;
    align-items: center;
    padding: 16px;
    gap: 10px;
    border-radius: 25px;
    background: none;
    position: relative;
}

.menu-button {
    border: lightgray solid 1px;
    background: none;
    padding: 5px;
    width: 100%;
    border-radius: 5px;
    color: rgb(24, 23, 23);
    font-size: 12px;
}

.drop-down-menu {
    border: lightgray solid 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 7px;
    padding: 10px;
    gap: 10px;
    position: absolute;
    margin-top: 13px;
}

.menu-buttons-container {
    width: 100%;
}

.menu-button-not-logged-in {
    background-color: white;
    border: none;
}

.menu-buttons-container :hover {
    cursor: pointer;
    text-decoration: underline;
}

.nav-bar-create-spot-button {
    cursor: pointer;
    background: none;
    border: none;
    font-size: 15px;
}

.dropdown-menu-my-bookings-button {
    cursor: pointer;
}

.dropdown-menu-my-bookings-button:hover {
    text-decoration: underline;
}
