.hidden {
    display: none;
}

.navigation-bar {
    display: flex;
    border-bottom: 1px solid #eeeeee;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.home-page-logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    margin-left: 14px;
}

.home-logo {
    height: 45px;
    width: 45px;
}

.home-logo-name {
    color: #ff385c;
}

.nav-bar-buttons {
    display: flex;
    align-items: center;
    right: 0;
    gap: 20px;
}

.nav-bar-session-buttons {
    display: flex;
    align-items: center;
    border: lightgrey solid 1px;
    padding: 16px;
    gap: 10px;
    border-radius: 25px;
    background: none;
}

.menu-button {
    background: none;
    border: lightgray solid 1px;
    padding: 5px;
    border-radius: 5px;
    color: rgb(24, 23, 23);
    font-size: 12px;
}

.menu-buttons-container :hover {
    cursor: pointer;
    border-radius: 8px;
    padding: 5px;
    box-shadow: 2px 2px 2px rgb(81, 81, 81);
}

.nav-bar-create-spot-button {
    background: none;
    border: none;
    font-size: 16px;
}

.nav-bar-create-spot-button-container :hover {
    cursor: pointer;
    border-radius: 8px;
    padding: 5px;
    box-shadow: 2px 2px 2px rgb(81, 81, 81);
}

.nav-bar-menu-container :hover {
    cursor: pointer;
}
